[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter.git
