[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/TaskList"]
	path = home/.vim/bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "home/.vim/bundle/pyflakes"]
	path = home/.vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "home/.vim/bundle/pep8"]
	path = home/.vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/pydoc"]
	path = home/.vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "home/.vim/bundle/ropevim"]
	path = home/.vim/bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
